---
layout: layouts/base.njk
templateClass: tmpl-challenge
---

<h1 class="ms-3">{{ title }}</h1>

{{ content | safe }}

<hr>
<!--<ul >
 {%- set nextChallenge = collections.challenges | getNextCollectionItem(page) %}
  {%- if nextChallenge %}<li>Next: <a href="{{ nextChallenge.url | url }}">{{ nextChallenge.data.title }}</a></li>{% endif %}
  {%- set previousChallenge = collections.Challenge | getPreviousCollectionItem(page) %}
  {%- if previousChallenge %}<li>Previous: <a href="{{ previousChallenge.url | url }}">{{ previousChallenge.data.title }}</a></li>{% endif %}
 
</ul>
-->
