<footer>
      <div class="container">
        &copy; Olena Sakhno. 2021 <br>
        <a href="https://github.com/OlenaSakhno">Me on GitHub</a>
           <!-- <div class="social-links inline">
            <a href="" target="_blank" class="fa fa-facebook" title="Follow on facebook"></a>
            <a href="" target="_blank" class="fa fa-instagram" title="Follow on instagram"></a>
            <a href="" target="_blank" class="fa fa-twitter" title="Follow on twitter"></a>
            <a href="" target="_blank" class="fa fa-youtube" title="Follow on youtube"></a>
            <a href="" target="_blank" class="fa fa-spotify" title="Follow on spotify"></a>
            <a href="" target="_blank" class="fa fa-apple_music" title="Follow on apple_music"></a>
            <a href="" target="_blank" class="fa fa-pinterest" title="Follow on pinterest"></a>
            <a href="" target="_blank" class="fa fa-google_play" title="Follow on google_play"></a>
            <a href="" target="_blank" class="fa fa-amazon" title="Follow on amazon"></a>
            <a href="" target="_blank" class="fa fa-deezer" title="Follow on deezer"></a>
		</div> -->
      </div>      
</footer>